<div class="col-xs-12">
  <div class="row-fluid">
    <h1><%=@book.title %></h1>
    <ul><%= @book.author %> | <%= @book.year_published %></ul>
    <ul> <%=image_tag(@book.image_url, class: 'img-thumbnail img-responsive') %> </ul>
  </div>
  <div class="row-fluid">
    <%=link_to "All Books", books_path, class: 'btn btn-lg btn-primary' %>
    <%=link_to "Edit This Book", edit_book_path(@book), class: 'btn btn-lg btn-warning' %>
  </div>
</div>
