<div class="col-xs-12"
<h1 style =color:#cc3333;> Artists</h1>
<%=artists.inspect%>
<%@artist.each do |artist| %>
  <li> <%= artist %>
  <% end %>
</div>

<table class="table table-hover">
<tr class= "small">
<th> Artist Image </th>
<th> Name </th>
<th> Bio</th>
<th> Actions </th>
</tr>
<%=@artist.each do |artist| %>
  <td class="col-md-2"><%= artist.image_url %> <</td>
  <td> <%= artist.name %> </td>
  <td> <%= artist.description %> <</td>
  <td> Coming Soon</td>
  </tr>



  <div class="well">
  	<%= link_to "Add new Artist"
  	



